*{
    font-family: "raleway";
}

.b1{
    background-image: url("../photos/water.png");
}
.test span {
    position: relative;
    top: 20px;
    animation: bounce .3s ease infinite alternate;
    font-size: 80px;
    color: turquoise;
  }
  @keyframes bounce {
    100% {
      color: olive;
      top: -20px;
    }
  }
  .test span:nth-child(2) {
    animation-delay: 0.1s;
  }
  .test span:nth-child(3) {
    animation-delay: 0.2s;
  }
  .test span:nth-child(4) {
    animation-delay: 0.3s;
  }
  .test span:nth-child(5) {
    animation-delay: 0.4s;
  }
  .test span:nth-child(6) {
    animation-delay: 0.5s;
  }
  .test span:nth-child(7) {
    animation-delay: 0.6s;
  }
  .test span:nth-child(8) {
    animation-delay: 0.7s;
  }
  .test span:nth-child(9) {
    animation-delay: 0.8s;
  }
  .test span:nth-child(10) {
    animation-delay: 0.9s;
  }
  .test span:nth-child(11) {
    animation-delay: 1s;
  }
  .test span:nth-child(12) {
    animation-delay: 1.1s;
  }
  .test span:nth-child(13) {
    animation-delay: 1.2s;
  }
  .test span:nth-child(14) {
    animation-delay: 1.3s;
  } 

#rebeccaheady {
	border: none;
	text-align: center;
    /* opacity: 1; */
    font-size: 2.5rem;
    /* background-color: whitesmoke; */
    height: 200px;
    display: flex;
    justify-content: center;
    height: 60px;
}

#rebeccaheady  span {
	display:table-cell;
}
@keyframes jumb {
	0% { -webkit-transform:translateY(0px); transform:translateY(0px) }
	50% { -webkit-transformm:translateY(-8px); transform:translateY(-8px) }
	100% { -webkit-transform:translateY(0px); transform:translateY(0px) }
}

@media screen and (min-width: 770px) {
	#rebeccaheady:hover span {
		animation:jumb 0.4s infinite;
		-webkit-animation:jumb 0.4s infinite;
	}

	#rebeccaheady  span:nth-child(1) {animation-delay:0s;}
	#rebeccaheady  span:nth-child(2) {animation-delay:.05s;}
	#rebeccaheady  span:nth-child(3) {animation-delay:.1s;}
	#rebeccaheady  span:nth-child(4) {animation-delay:.15s;}
	#rebeccaheady  span:nth-child(5) {animation-delay:.2s;}
	#rebeccaheady  span:nth-child(6) {animation-delay:.25s;}
	#rebeccaheady  span:nth-child(7) {animation-delay:.3s;}
	#rebeccaheady  span:nth-child(8) {animation-delay:.35s;}
	#rebeccaheady span:nth-child(9) {animation-delay:.4s;}
	#rebeccaheady span:nth-child(10) {animation-delay:.45s;}
	
}
header{
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    animation-name: bounce-1;
    animation-timing-function: linear;

}
header h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation: bounce-1;
    animation-duration: 3sec;

}
.bounce-1 {
    animation-name: bounce-1;
    animation-timing-function: linear;
}
#item:active {
    background-color: rgba(168, 218, 220, 1.00);
  }
  #item:hover {
    cursor: pointer;
    border-width: 20px;
  }
@keyframes bounce-1 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}
.container{
    display: flex;
    position: relative;
    justify-content: space-evenly; 
    align-content: flex-start;
    top: 58px;
}
.rebecca { 
  display: flex;
  flex-direction: column;
  justify-content: top;
  top: 0em;
    background: rgba(0,0,0,0.3);
    color: white;
    padding: 2rem;
    width: 33%;
    margin: 0;
    font-size: 1.2rem;
    
  }
  h2 {
    font-size: 3rem;
    text-transform: uppercase;
    margin-top: 0;
    letter-spacing: .3rem;
  }
  .inner {
    position: relative;
    overflow: hidden;
  }
  
  .buttonbox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    top: 0em;
    color: white;
    padding: 2rem;
    width: 33%;
    margin: 0;
  }
  #mydiv {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
  }
  
  #mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
  }
  .buttonbox a{
    height: 60px;
    width: 60px;
    background-color: RGB(240, 128, 128);
    border: none;
    color: white;
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    font-size: .5rem;
    border-radius: 50%;
    animation-name: slidein;
    animation-duration: 3 sec;
    animation-iteration-count: infinite;
  }
  .but1:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  .but2:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  .but3:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }