* {
  font-family: "raleway";
}

@viewport {
  width: device-width;
  zoom: 1.0;
}

@-ms-viewport {
  width: device-width;
}

@media (max-width:500px) {
  .rebecca {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    top: 0em;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 2rem;
    width: 33%;
    margin: 0;
    font-size: .8rem;

  }

  .rebecca h2 {
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 0;
    letter-spacing: .3rem;
  }
}

/* .container {
  margin: 2%;
} */

body {
  background-color: #e9bcb7;
  background-image: linear-gradient(315deg, #e9bcb7 0%, #29524a 74%);
  background-size: cover;
  /* background-repeat: no-repeat; */
  min-height: 100%;
}

@media (max-height:400) {
  #header {
    background-color: RGB(240, 128, 128);
    height: 13%;
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -3%;
    left: 1%;
    transform: rotate(2deg);
    color: white;
  }

}

#header {
  background-color: RGB(240, 128, 128);
  height: 13%;
  position: absolute;
  margin: 0px;
  padding: 0px;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -3%;
  left: 0%;
  transform: rotate(2deg);
  color: white;
}

#rebeccaheady {
  position: relative;
  border: none;
  font-size: 2.5rem;
  transform: rotate(-2deg);

}

#rebeccaheady span {
  display: table-cell;
  animation: jumb 0.4s infinite;
  -webkit-animation: jumb 0.4s infinite;

}

@keyframes jumb {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px)
  }

  50% {
    -webkit-transformm: translateY(-8px);
    transform: translateY(-8px)
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px)
  }
}

#rebeccaheady:hover span {}

@media screen and (min-width: 770px) {
  #rebeccaheady:hover span {
    animation: jumb 0.4s infinite;
    -webkit-animation: jumb 0.4s infinite;
  }

  #rebeccaheady span:nth-child(1) {
    animation-delay: 0s;
  }

  #rebeccaheady span:nth-child(2) {
    animation-delay: .05s;
  }

  #rebeccaheady span:nth-child(3) {
    animation-delay: .1s;
  }

  #rebeccaheady span:nth-child(4) {
    animation-delay: .15s;
  }

  #rebeccaheady span:nth-child(5) {
    animation-delay: .2s;
  }

  #rebeccaheady span:nth-child(6) {
    animation-delay: .25s;
  }

  #rebeccaheady span:nth-child(7) {
    animation-delay: .3s;
  }

  #rebeccaheady span:nth-child(8) {
    animation-delay: .35s;
  }

  #rebeccaheady span:nth-child(9) {
    animation-delay: .4s;
  }

  #rebeccaheady span:nth-child(10) {
    animation-delay: .45s;
  }

}

header {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  animation-name: bounce-1;
  animation-timing-function: linear;

}

header h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  animation: bounce-1;
  animation-duration: 3sec;

}

.bounce-1 {
  animation-name: bounce-1;
  animation-timing-function: linear;
}

#item:active {
  background-color: rgba(168, 218, 220, 1.00);
}

/* #item:hover {
    cursor: pointer;
    border-width: 20px;
  } */
@keyframes bounce-1 {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

.container {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  align-content: flex-start;

}

.rebecca {
  display: flex;
  flex-direction: column;
  justify-content: top;
  top: 0em;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 2rem;
  width: 33%;
  margin-top: 10vh;
  font-size: 1.2rem;
  /* margin-bottom: 20px; */

}

h2 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: .3rem;
}

.inner {
  position: relative;
  overflow: hidden;
}

.buttonbox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  top: 0em;
  color: black;
  padding: 2rem;
  width: 33%;
  margin-top: 20px;
}

#mydiv {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}

.buttonbox a {
  /* height: 60px;
    width: 60px;
    background-color: RGB(240, 128, 128);
    border: none;
    color: white;
    padding: 20px;
    margin-bottom: 10px;
  
  
    font-size: .5rem;
    border-radius: 50%;
    animation-name: slidein;
    animation-duration: 3 sec;
    animation-iteration-count: infinite; */
  position: relative;
  text-decoration: none;
  text-align: center;
  color: white;
  background: #fff;
  height: 100px;
  border-color: #000;
  border-style: solid;
  width: 50px;
  border-width: 2px 50px 2px 2px;
  border-radius: 50%;
  animation: roll 40000s infinite;
}

.buttonbox a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  background: #fff;
  border: 18px solid #000;
  border-radius: 50%;
  width: 14px;
  height: 14px;
}

.buttonbox a:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  background: #000;
  border: 18px solid #fff;
  border-radius: 50%;
  width: 14px;
  height: 14px;
}

@media (min-width:750px) {
  @keyframes roll {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(3600000deg);
    }
  }
}

/* /.but1:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  .but2:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  .but3:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  } */
*/
/* @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  } */
/* @keyframes roll {
    from {
      transform:rotate(0deg);
    }
    to {
      transform:rotate(3600000deg);
    }
  } */