* {
    font-family: raleway;
}

body {
    margin: 10%;
    /* display: flex; */
    /* background-image: url("../photos/Grey-Gradient-Background-6.jpg"); */
    background-color: #e9bcb7;
    background-image: linear-gradient(315deg, #e9bcb7 0%, #29524a 74%);
    background-size: cover;
    min-height: 100vh;
}


.intro {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 10vh;
}

#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 25%; */
    background: RGB(240, 128, 128);
    border-radius: 10%;
    padding: 3%;

}

#projects img {
    height: 11vh;
    width: 11vw;
}

.img-wrap {
    position: relative;
    height: 11vh;
    width: 11vw;
}

.img-description {
    position: absolute;
    font-style: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(127, 191, 63, 0.6);
    color: #fff;
    visibility: hidden;
    opacity: 0;

    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
}

.img-wrap:hover .img-description {
    visibility: visible;
    opacity: 1;
}

.img-wrap2 {
    position: relative;
    height: 11vh;
    width: 11vw;
}

.img-description2 {
    position: absolute;
    font-style: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(127, 191, 63, 0.6);
    color: #fff;
    visibility: hidden;
    opacity: 0;

    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
}

.img-wrap2:hover .img-description2 {
    visibility: visible;
    opacity: 1;
}

.img-wrap3 {
    position: relative;
    height: 11vh;
    width: 11vw;
}

.img-description3 {
    position: absolute;
    font-style: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(127, 191, 63, 0.6);
    color: #fff;
    visibility: hidden;
    opacity: 0;

    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
}

.img-wrap3:hover .img-description3 {
    visibility: visible;
    opacity: 1;
}

#header {
    background-color: RGB(240, 128, 128);
    height: 13%;
    position: absolute;
    margin-bottom: 2%;
    padding: 0px;
    top: 0;
    left: 0;
    width: 100%;
    top: -3%;
    left: 0%;
    transform: rotate(2deg)
}

#header ul {
    padding-top: 2%;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transform: rotate(-2deg)
}

#header a {
    text-decoration: none;
    color: white;
}